@tailwind base;
@tailwind components;
@tailwind utilities;

.stepC {
  margin-left: 0;
  margin-right: 0;
}
.toggle-switch:checked {
  @apply right-0;
  right: 0;
}
.toggle-switch:checked + .toggle-label {
  @apply bg-green-600;
  background-color: #38a169;
}
.checkbox:checked {
  background-color: #38a169;
  border-color: #38a169;
}
#device {
  border-radius: 2rem;
  width: 100%;
}
.max-hd {
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-height: 100vh;
}
.max-hd::-webkit-scrollbar {
  display: none;
}
.theme-one {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.theme-one::-webkit-scrollbar {
  display: none;
}
.footer {
  display: flex;
}
.stepC.actions {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(3rem, auto));
}

@media (min-width: 640px) {
  .footer {
    display: none;
  }
  .max-hd {
    max-height: 38rem;
  }
  .stepC {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (min-width: 480px) {
  #device {
    max-width: 24rem;
  }
}
